html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: url("../../rick-and-morty-app/src/assets/bg2.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Luckiest Guy", "Orbitron", "Bungee", sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  z-index: -1;
}

main {
  flex: 1;
}
